        /* BOX-SIZING */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
html, body {
    margin: 0;
    padding: 0;
    
}
/* BODY STYLe */
body{
    background: #17131C;
    color: #E9E4D8;
}
/* HEADER STYLES */
.hdr-home{
    font-family: "Cinzel Decorative", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #17131C;
    background: linear-gradient(180deg, rgba(23, 19, 28, 1) 0%, 
    rgba(44, 36, 53, 1) 100%);
    box-shadow: 0px 4px 2px 0px rgba(176,141,87,1);
}
/* LIST ITEM STYLE */
li{
  list-style: none;  
}
/* NAVIGATION STYLE */
nav{
    height: fit-content;
    width: 450px;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

/* TITLE DIV STYLE */
.title-div{
    padding-inline: 100px;
    height: fit-content;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* LOGIN STYLE */
.login-div{
    height: fit-content;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;

}
.login-btn{
    height: 50px;
    width: 100px; 
    border-style: none;
    border-bottom: solid;
    border-color: #B08D57;
    background: none;
    color: #E9E4D8;
}
.hover-color:hover{
    transform: translate(0, -2px); 
    background: linear-gradient(180deg, rgb(66, 54, 80, 0.2) 0%, 
    rgba(66, 54, 80) 100%);
    cursor: pointer;
    border-radius: 15px;
}
/* ANCHOR STYLE */
a {
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    border-bottom: 2px solid #B08D57;
    color: inherit;
}

